.contenedor{
    width: 100%;
    margin: 0px auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    .imagenLogo{
        width: 200px;
        justify-content: right;
        transform: translate(20px);
        margin-right:px;
    }
    .cabecera{
        background-color: rgb(255, 255, 255);
        padding: 15px;
        margin: 15px;
        border: solid;
        display: flex;
        justify-content: space-around;
    }
}